<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  "
>
  <h1>General Knowledge</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
</div>
<div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 16px">
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
</div>
<div style="display: flex; justify-content: center; margin-top: 20px">
  <button class="btn btn-secondary btn-black">LOAD MORE</button>
</div>
