<nav class="navbar bavbar-expand-lg fixed-top">
  <div class="container">
    <div style="display: flex; width: 100%">
      <ul style="display: flex; justify-content: center; width: 100%">
        <li class="nav-item">
          <a href="" class="nav-link">Design</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link">Inspiration</a></li>
        <li class="nav-item"><a href="" class="nav-link">Sports</a></li>
        <li class="nav-item"><a href="" class="nav-link">Politics</a></li>
      </ul>
    </div>
  </div>
</nav>
