<div
  style="
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid;
      padding: 16px;
    "
  >
    <div>
      <h6>John Doe</h6>
      <span>Latest updated - sep-20-2023</span>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
      <a href="" style="margin-right: 16px">reply</a>
      <a href="">View Reply</a>
    </div>
  </div>
</div>
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid;
      padding: 16px;
    "
  >
    <div>
      <h6>John Doe</h6>
      <span>Latest updated - sep-20-2023</span>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
      <a href="" style="margin-right: 16px">reply</a>
      <a href="">View Reply</a>
    </div>
  </div>
</div>
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid;
      padding: 16px;
    "
  >
    <div>
      <h6>John Doe</h6>
      <span>Latest updated - sep-20-2023</span>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
      <a href="" style="margin-right: 16px">reply</a>
      <a href="">View Reply</a>
    </div>
  </div>
</div>
