<section class="posts-section">
  <div style="display: flex; justify-content: center" class="posts">
    <div style="display: flex; flex-direction: column; align-items: center">
      <h2>Featured Posts</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  <div style="display: flex; justify-content: center">
    <div
      style="display: flex; justify-content: center; flex-wrap: wrap; gap: 16px"
    >
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
<section class="posts-section">
  <div style="display: flex; justify-content: center" class="posts">
    <div style="display: flex; flex-direction: column; align-items: center">
      <h2>Latest Posts</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  <div style="display: flex; justify-content: center">
    <div
      style="display: flex; justify-content: center; flex-wrap: wrap; gap: 16px"
    >
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
