<footer>
  <div style="display: flex; width: 100%">
    <ul style="display: flex; justify-content: center; width: 100%">
      <li class="nav-item"><a href="" class="nav-link">Design</a></li>
      <li class="nav-item"><a href="" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link">About</a></li>
      <li class="nav-item">
        <a href="" class="nav-link">Terms & Condition</a>
      </li>
      <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
    </ul>
  </div>
</footer>
