<div
  style="
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
    max-width: 300px;
    margin-top: 20px;
  "
>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMVNJri-Xr-Nn4qaIBekRkxFAsH7Wt8dCPbQ&usqp=CAU"
    alt="post-image"
    style="height: 100px; object-fit: cover"
  />
  <div style="display: flex; margin-top: 8px">
    <span class="text-danger">Design</span>
    <span class="text-success ml-3">Featured</span>
    <span class="text-info ml-3">Views 200</span>
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 8px">
    <h6>How to start a blog in 2023 edited</h6>
    <span style="font-weight: bold">New Category</span>
  </div>
  <div style="margin-top: 8px">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sed corporis
      tenetur. Modi, aliquam quas aspernatur, iure beatae necessitatibus ullam
    </p>
  </div>
  <div>
    <span class="text-warning">Last Updated Sep 20,2023</span>
  </div>
</div>
